<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="../templates/galeria.html">Galeria</a>
            <a href="#">Tabla</a>
            <a href="https://www.google.com/?hl=es">Google</a>
            <a href="../lista.html">Listas</a>
            
        </nav>
    </header>
    
    <main>
        <section>
            <a>
                <h1>Tabla</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, praesentium.</p>
            </a>
            <a href="">
                <img src="https://media.gcflearnfree.org/content/61d5c0d1c4da77185ca9f225_01_05_2022/Ejemplo-de-tabla-con-frecuencia-relativa-estadi%CC%81stica.png" alt="Tabla de Frecuencias inicio" width="600px">
            </a>
        </section>
        <section>
            <p>
                La <strong>frecuencia</strong> —denotada con la letra griega v o con la letra latina f— es el <mark>número de repeticiones por unidad de tiempo</mark> de cualquier proceso periódico. El período es la duración de tiempo de cada evento repetitivo, por lo que el período es el recíproco de la frecuencia. También se denomina <b>frecuencia temporal</b>, que subraya el contraste con la frecuencia espacial y la frecuencia angular.<br>

                Para calcular la frecuencia de un suceso, se contabilizan un número de ocurrencias de este, teniendo en cuenta un intervalo temporal, y luego estas repeticiones se dividen por el tiempo transcurrido. Según el <i>Sistema Internacional (SI)</i>, la frecuencia se mide en hercios (Hz), en honor a <b><i>Heinrich Rudolf Hertz</i></b>. Un hercio es la frecuencia de un suceso o fenómeno repetido por segundo. Así, un fenómeno con una frecuencia de dos hercios se repite dos veces por segundo. Esta unidad se llamó originalmente «ciclo por segundo» (cps).<br>
                Otras unidades para indicar frecuencias son revoluciones por minuto (rpm o r/min según la notación del SI); las pulsaciones del corazón se miden en latidos por minuto (lat/min) y el tempo musical se mide en «pulsos por minuto» (bpm, del inglés «beats per minute»).
            </p>

            <h3>Período y frecuencia</h3>
            <p>
            Por conveniencia, las ondas más largas y lentas, como las ondas superficiales del océano, tienden a describirse por el período de la onda en lugar de la frecuencia. Las ondas cortas y rápidas, como el audio y la radio, suelen describirse por su frecuencia en lugar de por su período.
            </p>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>